.transaction {
  /* border: double 5px transparent;
    background-image: linear-gradient(#121212, #121212), 
                        linear-gradient(rgb(138, 66, 173) 0%, rgb(103, 98, 235) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box; */
  /* border-bottom: 5px solid #1199FA; */
  display: flex;
  justify-content: space-between;
  margin: 10px 10% 10px;
  align-items: center;
}
.left {
  width: 300px;
}
.right {
  width: 200px;
}
.status {
  font-size: 12px;
  text-transform: uppercase;
}
.time {
  font-size: 12px;
}
.amount {
  font-size: 24px;
}
.address {
  font-size: 12px;
}
.type {
  font-size: 24px;
}
